<p id="notice"><%= notice %></p>

<h1>Plant Groups</h1>

<table>
  <thead>
    <tr>
      <th style="padding-right:8px">Nickname</th>
      <th style="padding-right:8px">CurrentQuantity</th>
      <th style="padding-right:8px">CurrentRoom</th>
      
      
      <th style="padding-right:8px">MostRecentAction</th>
      <th style="padding-right:8px">NextAction</th>
      <th style="padding-right:8px">PotSize</th>
      <th style="padding-right:8px">CloneDate</th>
      <th style="padding-right:8px">Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plant_groups.each do |plant_group| %>
      <tr>
        <td style="padding-right:12px"><%= link_to plant_group.nickname, plant_group %></td>
        <td style="padding-right:12px"><%= plant_group.quantity %></td>
        <td style="padding-right:12px"><%= @rooms.where(id: plant_group.current_room_id)[0].name %></td>
        
        
        <td style="padding-right:12px"><%= plant_group.plant_group_updates.order(:created_at).last.update_type %></td>
        <td style="padding-right:12px">
          <%= @update_types[@update_types.index(plant_group.plant_group_updates.order(:created_at).last.update_type) + 1] %>
        </td>
        <td style="padding-right:12px"><%= plant_group.plant_group_updates.where(update_type: "transplant to veg")[0].pot_size unless plant_group.plant_group_updates.where(update_type: "transplant to veg")[0] == nil %></td>
        <td style="padding-right:12px"><%= plant_group.clone_date %></td>
        <td style="padding-right:12px"><%= plant_group.notes %></td>
        <td>
          <div class="dropdown" style="margin:6px;">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Update <%= plant_group.nickname %> PlantGroup
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Transplant to Veg', plant_group_updates_transplant_to_veg_path(:controller => "plant_group_updates", :action => "transplant_to_veg", :group => plant_group.id) %>
              </li>
              <li>
                <%= link_to 'Transplant to Flower', plant_group_updates_transplant_to_flower_path(:controller => "plant_group_updates", :action => "transplant_to_flower", :group => plant_group.id) %>
              </li>
              <li><%= link_to 'Flip', plant_group_updates_flip_path(:controller => "plant_group_updates", :action => "flip", :group => plant_group.id) %></li>
              <li>
                <%= link_to 'Harvest', plant_group %>
              </li>
              <li>
                <%= link_to 'Destroy', plant_group, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <hr>
<br>

<%= link_to 'New Plant Group', new_plant_group_path %>
