<p id="notice"><%= notice %></p>

<h1>Plant Groups</h1>

<hr>

<table width="100%">
  <tr>
    <% @plant_groups.column_names.each{|columnhead| %>
      <th><%= columnhead %></th>
    <% } %>
  </tr>
  <% @plant_groups.each{|pg| %>
  <tr>
    <td><%= pg.id %></td>
    <td><%= pg.nickname %></td>
    <td><%= pg.quantity %></td>
    <td><%= pg.clone_date %></td>
    <td><%= pg.current_room_id %></td>
    <td><%= pg.notes %></td>
    <td><%= pg.created_at.hour %>:<%= pg.created_at.min %> -- <%= pg.created_at.month %>/<%= pg.created_at.day %>/<%= pg.created_at.year %></td>
    <td><%= pg.updated_at.hour %>:<%= pg.updated_at.min %>  -- <%= pg.updated_at.month %>/<%= pg.updated_at.day %>/<%= pg.updated_at.year %></td>
    <td>
      <div class="dropdown" style="margin:6px;">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Update <%= pg.nickname %> PlantGroup
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Transplant to Veg', plant_group_updates_transplant_to_veg_path(:controller => "pg_updates", :action => "transplant_to_veg", :group => pg.id) %>
          </li>
          <li>
            <%= link_to 'Transplant to Flower', plant_group_updates_transplant_to_flower_path(:controller => "pg_updates", :action => "transplant_to_flower", :group => pg.id) %>
          </li>
          <li><%= link_to 'Flip', plant_group_updates_flip_path(:controller => "pg_updates", :action => "flip", :group => pg.id) %></li>
          <li>
            <%= link_to 'Harvest', pg %>
          </li>
          <li>
            <%= link_to 'Destroy', pg, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      </div>      
    </td>
  </tr>
  <% } %>
</table>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<p align="center"><i>ignore below</i></p>
<hr>
<table width="100%">
  <tr>
      <th>Nickname</th>
      <th>CurrentQuantity</th>
      <th>CurrentRoom</th>
      <th>MostRecentAction</th>
      <th>NextAction</th>
      <th>PotSize</th>
      <th>CloneDate</th>
      <th>Notes</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>