<%= form_for(plant_group_update) do |f| %>
  <% if plant_group_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant_group_update.errors.count, "error") %> prohibited this plant_group_update from being saved:</h2>

      <ul>
      <% plant_group_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plant_group_id %>
    <%= f.collection_select :plant_group_id, PlantGroup.order(:created_at),:id,:nickname %>
  </div>

  <div class="field">
    <%= f.label :update_type %>
    <%= f.select :update_type, options_for_select(["clone","transplant","flip","harvest"]), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :transplant_origin_room_id %>
    <%= f.collection_select :transplant_origin_room_id, Room.order(:created_at),:id,:name %>
  </div>

  <div class="field">
    <%= f.label :transplant_destination_room_id %>
    <%= f.collection_select :transplant_destination_room_id, Room.order(:created_at),:id,:name %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
