<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @room.notes %>
</p>

<br>
	<hr>
<br>
<%= link_to 'Edit', edit_room_path(@room) %>
 &nbsp; &nbsp; | &nbsp; &nbsp; 
 <%= link_to 'Back to Rooms', rooms_path %>